@font-face {
    font-family: "NorseBold";
    src: url("./fonts/Norse-Bold.otf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

html, body {
    display: flex;
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}

body {
  display: flex;
  min-height: 100dvh;
  align-items: stretch;
}

.left-container {
    position: relative;
    flex: 0 0 clamp(300px, 30vw, 1200px);
    min-width: 300px;  
    min-height: 100%;
    margin: 0;
    padding: 0;
}

#bg-image {
    width: 100%;
    min-height: 1040px;
    padding: 0;
    margin: 0;
}

.odin-info {
    position: absolute;
    top: 210px;
    display: flex;
    background-color: rgba(0, 0, 0, 0.44);
    width: 100%;
    align-items: center;
    justify-content: center;
    gap: 10px;
    box-sizing: border-box;
    padding: 10px;
}

#odin-logo {
    height: 130px;
}

.odin-title {
    color: white;
    font-size: 100px;
    font-family: "NorseBold", sans-serif;
    margin-top: 20px;
}

/*-----------------------container change-------------------------*/

.right-container {
    margin: 0;
    padding: 0;
    flex: 1 1 auto;
    min-width: 0;
    min-height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    --top-and-bottom-bg: rgb(240, 240, 240);
    --top-and-bottom-height: 360px;
}

.top-section {
    background-color: var(--top-and-bottom-bg);
    min-height: var(--top-and-bottom-height);
    box-sizing: border-box;
    padding-left: 40px;
    padding-right: 200px;
}

.top-description {
    font-size: 25px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 510;
    margin-top: 160px;
    margin-bottom: 60px;
    margin-right: 20px;
}

.middle-section {
    min-height: 320px;
    display: flex;
    flex-direction: column;
    gap: 22px;
    box-sizing: border-box;
    padding-left: 40px;
    padding-right: 180px;
    box-shadow: 1px 10px 20px -6px rgba(0, 0, 0, 0.188);
    z-index: 1;
}

.middle-description {
    font-size: 23px;
    margin-top: 30px;
    font-weight: 510;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#sign-up-form {
    width: 100%;
    display: flex;
    gap: 10px;
    margin-bottom: 30px;
}

.left-side-form, .right-side-form {
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.right-side-form {
    margin-left: 60px;
}

.base-form {
    display: flex;
    flex-direction: column;
    font-size: 15px;
}

label {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    letter-spacing: 2px;
    font-size: 13px;
    color: rgb(25, 25, 25);
    margin-bottom: 2px;
}

input {
    box-sizing: border-box;
    width: 300px;
    height: 30px;

    border: 1px solid rgb(175, 175, 175);
    border-radius: 4px;
    outline: none;
    padding: 8px;
    font-size: 16px;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

input:focus {
    border: 2px solid rgb(0, 0, 255);
    box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.218)
}

.password-mismatch-message {
    color: red;
    align-content: end;
    box-sizing: border-box;
    padding-bottom: 6px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    white-space: nowrap;
    overflow: visible;
}

.bottom-section {
    background-color: var(--top-and-bottom-bg);
    min-height: var(--top-and-bottom-height);
    box-sizing: border-box;
    padding-left: 40px;
    padding-top: 35px;
}

.create-account-button {
    margin-bottom: 30px;
    padding: 16px 52px 16px 52px;
    background-color: #628642;
    color: white;
    font-size: 16px;
    font-weight: 600;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    border-radius: 7px;
    outline: none;
    border: 0px solid rgb(175, 175, 175);
    cursor: pointer;
    box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.218);
    transition: all 0.3s ease;
}

.login-option {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    
}

.login-link {
    text-decoration: none;
    color: #628642;
    font-weight: 600;
}